{% extends "base.html" %}

{% block content %}
<table class="table table-boarderless">
    <thread class="border-bottom font-weight-bold">
        <tr>
            <td>Fullname</td>
            <td>empcode</td>
            <td>mobile</td>
            <td>position</td>
            
        </tr>
    </thread>
    <tbody>
        {% for employee in employee_list %}
            <tr>
                <td>{{employee.fullname}}</td>
                <td>{{employee.empcode}}</td>
                <td>{{employee.mobile}}</td>
                <td>{{employee.position}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}" class="btn text-secondary px-0">
                        <i class="far fa-   edit fa-lg"></i>
                    Edit
                    </a>
                    <form action="{% url 'employee_delete' employee.id %}" method="post" class="d-inline">
                    {% csrf_token %}
                    <button type="submit" class="btn">delete
                    </button>
                    </form>

                </td>
            </tr>

        {% endfor %}
    </tbody>

</table>
{% endblock content %}